:root {
  --darkblue: #0d206b;
  --green: #30a597;
  --lightgreen: #67cbc0;
  --blue: #2374ab;
  --pink: #e06b6b;
  --lightpink: #ea8686;
  --white: #fafafa;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body,
html {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  color: var(--pink);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: inset 0 0 0 0 var(--pink);
  transition: box-shadow 0.25s ease-in-out;
  padding: 0 2px;
}

header p:hover {
  box-shadow: inset 0 -4rem 0 -0.1rem var(--pink);
  color: var(--white);
}

main {
  height: 80vh;
  color: var(--darkblue);
}

.container {
  display: flex;
}

.card {
  margin: 0 10px;
  overflow-y: auto;
}

.list {
  flex: 2;
  background-image: linear-gradient(
    to bottom left,
    var(--green),
    var(--lightgreen)
  );
  border: transparent;
}

.list .card-header {
  background-color: transparent;
  color: var(--white);
  border: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task {
  width: 250px;
  border: transparent;
  margin: 0 10px 10px 0;
}

.task.status-0 .task-header {
  background-image: linear-gradient(
    to bottom right,
    var(--darkblue),
    var(--blue)
  );
}

.task.status-1 .task-header {
  background-image: linear-gradient(to bottom right, #bfa40b, #fad70b);
}

.task.status-2 .task-header {
  background-image: linear-gradient(to bottom right, #fe7a15, #ff9f56);
}

.task.status-3 .task-header {
  background-image: linear-gradient(to bottom right, #68832a, #94b447);
}

.task.status-4 .task-header {
  background-image: linear-gradient(
    to bottom right,
    var(--pink),
    var(--lightpink)
  );
}

.task-header p {
  color: var(--white);
  text-transform: none;
  font-size: 18px;
}

.task-body {
  padding: 5px 10px;
}

.task-body p {
  text-align: left;
  color: var(--darkblue);
}

.hide-button {
  border: 1px solid var(--white);
  margin: 0 auto;
  padding: 2px 30px;
  border-radius: 15px;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, var(--white) 50%) right;
  background-size: 250%;
  transition: 0.25s ease-out;
  margin-bottom: 25px;
}

.hide-button:hover {
  color: var(--green);
  background-position: 0 150%;
}

.delete-button {
  border: transparent;
  padding: 0 5px;
  font-size: 16px;
  border-radius: 15px;
  color: var(--pink);
  background: linear-gradient(to left, var(--white) 50%, var(--pink) 50%) right;
  background-size: 250%;
  transition: 0.25s ease-out;
  margin-bottom: 25px;
}

.delete-button:hover {
  color: var(--white);
  background-position: 0 150%;
}

.form {
  flex: 1;
  background-image: linear-gradient(
    to bottom left,
    var(--darkblue),
    var(--blue)
  );
  border: transparent;
}

.form .card-header {
  background-color: transparent;
  color: var(--white);
  border: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.form label {
  background-color: transparent;
  color: var(--white);
}

.important {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#iconImportant {
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
}

#iconImportant.far {
  color: var(--green);
}

#iconImportant.fas {
  color: var(--pink);
}

.form-button {
  border: 1px solid var(--white);
  padding: 2px 30px;
  border-radius: 15px;
  color: var(--white);
  background: linear-gradient(to left, transparent 50%, var(--white) 50%) right;
  background-size: 250%;
  transition: 0.25s ease-out;
}

.form-button:hover {
  color: var(--darkblue);
  background-position: 0 150%;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--darkblue);
}
